.logo{
width: 88px;
height: 95px;
margin-top: 35px;
margin-left: 363px;
}

:root {
    --box-shadow: 0 0 35px rgba(12, 40, 54, 0.12);
}

.arrow {
width: 1196px;
height: 628px;
margin-top: 0px;
margin-left: 363px;

}
.IT {
width: 748px;
height: 116px;
margin-top: 223px;
margin-left: 363px;


}
.IT h1{
font-family: Montserrat;
font-size: 48px;
font-weight: 800;
line-height: 58px;
letter-spacing: 0em;
text-align: left;
}
.IT h1 span{
font-family: Montserrat;
font-size: 48px;
font-weight: 900;
line-height: 58px;
letter-spacing: 0em;
text-align: left;
background: linear-gradient(0deg, #ffffff, #ffffff),
linear-gradient(0deg, #9e5a0c, #703d02);
color: #FFA239 ;
}
.IT h2{
    width: 511px;
height: 48px;
margin-top: 367px;
margin-left: 363px;

}
.IT h2{
    font-family: Montserrat;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0px;
text-align: left;

}

/*Форма*/

.feedback{
    margin-bottom: 100px;
}
.feedback__text {
    margin-right: 24px;
    text-align: right;
}
.feedback__text h2{
margin-bottom: 0;
}
.feedback__text p{
    font-size: 24px;
    margin-right: 8px;
}

.form label {
    display: block;

}

.form{
    background: light;
}

.form textarea, .form input{
    display: block;
    padding: 8px 12px;
    border: 1px solid #D9e2eb ;
    border-radius: 10px;
    min-height: 40px;
    overflow: hidden;
    outline: none;
    width: 100%;

}
.form textarea::placeholder, .form input ::placeholder{
color: #8A99A8;

}
.form__group{
display: flex;
gap: 16px;
margin-bottom: 16px;

}
.submit{
    padding: 9px 60px;
    background: linear-gradient(90deg, #fb8501 -0.07%, #ffb703 100%);
   border: none;
    border-radius: 10px;
}

